* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fonte: 'Roboto';
  --background: #121214;
  --color-number: white;
  --color-circle: #182B33;
  --base-color: 194;
  --primary-color: hsl(var(--base-color), 100%, 63%); 
  font-size: 62.5%;
  --primary-light: hsla(var(--base-color), 100%, 63%, 0.13); 

}

body {
  background: var(--background);
  display: grid;
  min-height: 100vh;
  
}

main {
  justify-self: center;
  align-self: end;
}

footer {
  justify-self:right;
  align-self: end;

  padding: 0 4rem 3.2rem 0;
}

#timer  {
  font-size: 8.8rem;
  color: var(--color-number);
  font-family: var(--fonte);
  display: flex;

  margin-bottom: 1.6rem; 
  } 

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hide {
  display: none;
}

#controls {
  background-color: var(--primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;

  border-radius: 9999px;
/* 
  nesse clamp colocamos o valor de largura mínimo, ideal e o máximo. Esses valores são difícies de serem calculados. É preciso testar e ir adaptando. */
  
  width: clamp(10rem, 10rem + 30vw, 22.8rem);


}

.play svg path,
.pause svg path,
.sound-on svg path {
  fill: var(--primary-color);
}

button svg{
  width: clamp(3.2rem, 2 + 12vw, 6.4rem);
}